:root {
    --white-accent: #fff;
    --pink-accent: #C850C0;
    --background: #4158D0;
    --body-font: Tahoma, helvetica;
    --heading-font: helvetica, Tahoma;
}

html {
    min-height: 100%;
}

body {
    font-family: var(--body-font);
    line-height: 1.5;
}

h1,h2,h3 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 250%;
    color: #fff;
}

header {
    display: flex;
    padding: 100px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background: #4158D0;
}

header h1 {
    font-size: 200%;
    color: var(--pink-accent);
}

header .nav-title {
    background-color: var(--white-accent);
    padding: 30px;
    border-radius: 0 3px 3px 0;
    max-width: 400px;
    width: 100%;
    z-index: 5;
}

header .nav-title i {
    display: none;
}

header .tagline {
    color: var(--background);
    padding-top: 15px;
}

nav {
    height: auto;
    width: fit-content;
    z-index: 0;
}

nav .link {
    display: inline-block;
    text-align: center;
    font-size: 125%;
    padding-right: 25px;
}

nav .link:last-child {
    padding-right: 50px;
}

nav .link,
nav .link a {
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

nav .link:hover,
nav .link:hover a {
    color: rgba(255, 255, 255, 0.5);
}

picture img {
    width: 100%;
}

main {
    padding: 65px 50px 0 50px;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100%;
    margin: -10px 0 0;
    background-repeat: no-repeat;
}

main .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto 20px auto;
    max-width: 1000px;
    width: 100%;
}

main .about-me .headshot {
    border: 8px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    max-width: 250px;
    width: 100%;
    height: auto;
}

main .about-me h2 {
    color: #fff;
    width: fit-content;
}

main .gray-background {
    background-color: #454545;
    padding: 30px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

main .gray-background h3 {
    font-size: 150%;
    color: #fff;
    margin-bottom: 5px;
}

main .gray-background p {
    color: #fff;
    font-size: 110%;
    margin-bottom: 25px;
}

main .gray-background #skills span {
    display: block;
    margin-bottom: 5px;
}

main .gray-background p:last-child {
    margin-bottom: 0px;
}

main h2.selected-works {
    max-width: 1000px;
    width: 100%;
    margin: 40px auto 20px auto;
}

main .works-grid {
    display: grid;
    justify-content: center;
    grid-template: repeat(3, auto) / 475px 475px;
    column-gap: 50px;
    row-gap: 50px;
    padding-bottom: 60px;
}

main .works-grid #featured {
    grid-column: 1 / span 2;
}

main .card {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

main .card img {
    border: 5px solid var(--white-accent);
    border-radius: 5px;
    width: 100%;
    transition: box-shadow 0.5s ease-in-out;
}

main .card img:hover {
    box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
}

main .card-text {
    padding: 10px 25px 25px;
}

main .card-text p {
    margin-bottom: 15px;
}

main #featured .card-text p {
    max-width: 700px;
}

main .card-text h3 {
    font-size: 150%;
    margin-bottom: 15px;
}

main .card-text a {
    font-size: 120%;
    opacity: 100%;
    transition: opacity 0.25s;
    text-decoration: none;
}

main .card-text a:hover {
    opacity: 50%;
}

main .card-text li {
    padding-bottom: 5px;
}

footer {
    background-color: var(--background);
    color: #fff;
}

footer h2 {
    font-size: 200%;
    max-width: 1270px;
    width: 100%;
    padding: 20px 0 0 30px;
    margin: 0 auto 10px auto;
}

footer .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
}

footer .contact-info a {
    color: #fff;
}

footer .contact-info div {
    margin-top: 10px;
    margin-right: 100px;
    font-size: 130%;
}

footer .contact-info div:last-child {
    margin-right: 0px;
}

footer .contact-info div a,
footer .contact-info div i {
    transition: color 0.25s;
}

footer .contact-info div:hover a,
footer .contact-info div:hover i {
    color: rgba(255, 255, 255, 0.5);
}

footer .ending-note {
    text-align: center;
    font-size: 120%;
    margin: 40px auto 30px auto;
}

footer .copyright {
    font-size: 85%;
    text-align: center;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1120px) {
    nav {
        margin-top: 15px;
        margin-left: 30px;
    }

    main {
        padding: 65px 30px 0 30px;
    }

    main h2.selected-works {
        max-width: 750px;
    }

    main .works-grid {
        display: grid;
        justify-content: center;
        grid-template: repeat(5, auto) / 750px;
        column-gap: 50px;
        row-gap: 50px;
        padding: 0 0 60px;
    }

    main .works-grid #featured {
        grid-column: 1 / span 1;
    }

    footer h2 {
        text-align: center;
        padding-left: 0;
    }

    footer .contact-info {
        flex-direction: column;
        align-items: center;
    }

    footer .contact-info div {
        margin-right: 0px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 850px) {
    main .works-grid {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 800px) {
    nav .link {
        padding-top: 10px;
    }
    
    main {
        padding: 65px 0 0;
    }

    main .about-me {
        grid-template: auto auto / 250px;
        justify-content: center;
        justify-items: center;
        margin-bottom: 20px;
        margin-top: -200px;
        padding-left: 0;
    }

    main .about-me h2 {
        margin-top: 20px;
        color: #000;
    }

    main .gray-background {
        border-radius: 0px;
    }

    main .grid-padding {
        padding: 10px 30px;
    }

    main h2.selected-works {
        max-width: 100%;
    }    
}

@media only screen and (max-width: 725px) {
    header {
        padding: 0px;
    }
    
    header .nav-title {
        max-width: 725px;
        padding-top: 50px;
        display: grid;
        grid-template: auto auto / auto 50px;
        column-gap: 15px;
    }

    header .nav-title i {
        display: block;
        font-size: 300%;
        color: #fff;
        margin-top: 8px;
        transition: color 0.25s;
    }

    nav {
        position: relative;
        width: 100%;
        margin-left: 0;
        transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
    }

    nav .link {
        display: block;
        text-align: left;
        padding: 10px 0 10px 30px;
        border-bottom: 2px solid #303030;
    }

    nav .link:last-child {
        margin-right: 0px;
        border-bottom: none;
    }

    .menu-open {
        top: 0 !important;
        margin-top: 0px !important;
    }

    .menu-icon-active {
        color: rgba(255, 255, 255, 0.5) !important;
    }
}

@media only screen and (max-width: 575px) {
    main .about-me {
        margin-top: -170px;
    }

    main .about-me .headshot {
        max-width: 200px;
    }

    main .about-me h2 {
        font-size: 200%;
    }

    main h2.selected-works {
        font-size: 200%;
    }
}

@media only screen and (max-width: 460px) {
    main .about-me {
        margin-top: -150px;
    }

    main .gray-background p {
        font-size: 100%;
    }

    main .grid-padding {
        padding: 0 15px;
    }

    main h2.selected-works {
        text-align: center;
    }

    main .works-grid {
        grid-template-columns: 100%;
    }

    footer .contact-info div {
        font-size: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    main .about-me {
        margin-top: -140px;
    }

    main .about-me .headshot {
        max-width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    header .nav-title {
        padding: 50px 20px 30px 20px;
    }

    main .gray-background {
        padding: 20px;
    }
}
